<%- include('header'); -%>
	<div class="box" id="heading">
		<h1>
			<%= listtitle %>
		</h1>
		<p>
			Version <%= version %>
		</p>
	</div>
	<div class="box">
		<% for(let item of newListItems){%>
			<div class="item">
				<form action="/update-item" method="post" class="update-form">
					<input type="checkbox" <%=item.isDone ? 'checked' : '' %>
					onchange="this.form.submit();">
					<p>
						<%= item.name %>
					</p>
					<input type="hidden" name="id" value="<%= item.id %>">
					<input type="hidden" name="isDone" value="<%= !item.isDone %>">
				</form>
			</div>
			<% } %>
				<form class="item" action="/" method="post">
					<input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
					<button type="submit" name="list" value=<%=listtitle %> >+</button>
				</form>
	</div>
	<%- include('footer'); -%>